:root {
    /* colors */
    --clr-muted-green: rgb(150, 170, 150);
    --clr-medium-grey: rgb(120, 120, 120);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--clr-muted-green);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
    text-align: center;
}

#main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sketchboard {
    aspect-ratio: 1/1;
    width: 500px;
    padding: 50px;
    background-color: var(--clr-medium-grey);
}

#buttons {
    display: flex;
    flex-direction: column;
}